/* VARIABLES */
.fondoCuadros {
  background-image: url(../images/imagenFondo2.jpg);
  background-position: center; }

@media screen and (min-width: 768px) {
  main {
    background-image: url(../images/imagenFondo2.jpg);
    background-position: center; } }

.imagenSobreNosotros {
  width: 100%;
  animation-name: rotacionImagenSobreNosotros;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s; }

.imagenPista {
  width: 100%;
  animation-name: rotacionImagenNuestraPista;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s; }

@media screen and (min-width: 768px) {
  .imagenSobreNosotros {
    width: 500px;
    border: 2px solid black;
    border-radius: 25px; }
  .imagenPista {
    border: 2px solid black;
    border-radius: 25px; } }

@media screen and (min-width: 1024px) {
  .imagenPista {
    width: 700px; } }

.nuestroEquipo-imagenes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 275px 275px 275px; }

@media screen and (min-width: 1024px) {
  .nuestroEquipo-imagenes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 275px; } }

.containerGaleria img {
  width: 100%;
  transition: all .2s ease-in-out; }
  .containerGaleria img:hover {
    transform: scale(1.05); }

.containerEventos {
  display: flex;
  flex-direction: column; }
  .containerEventos img {
    border: 3px black solid;
    border-radius: 20px; }

@media screen and (min-width: 768px) {
  .table {
    width: 500px; } }

@keyframes rotacionImagenSobreNosotros {
  0% {
    transform: rotateY(0deg); }
  15% {
    transform: rotateY(180deg);
    content: url(../images/kartingPrincipal2.jpg); }
  50% {
    transform: rotateY(180deg);
    content: url(../images/kartingPrincipal2.jpg); }
  65% {
    transform: rotateY(0deg);
    content: url(../images/kartingPrincipal.jpg); }
  100% {
    transform: rotateY(0deg); } }

@keyframes rotacionImagenNuestraPista {
  0% {
    transform: rotateY(0deg); }
  15% {
    transform: rotateY(180deg);
    content: url(../images/imagenPista2.jpg); }
  50% {
    transform: rotateY(180deg);
    content: url(../images/imagenPista2.jpg); }
  65% {
    transform: rotateY(0deg);
    content: url(../images/imagenPista.jpg); }
  100% {
    transform: rotateY(0deg); } }

.textAreaPersonalizado {
  height: 150px !important; }

.imageFooter {
  width: 54px; }
