@mixin borderStyle {
    border: 2px solid black;
    border-radius: 25px;
}

@mixin animationIndexImages($nombreAnimacion){
    width: 100%;

    animation-name: $nombreAnimacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
}

.imagenSobreNosotros {
    @include animationIndexImages(rotacionImagenSobreNosotros);
}

.imagenPista {
    @include animationIndexImages(rotacionImagenNuestraPista);
}

@media screen and (min-width: 768px) {
    .imagenSobreNosotros {
        width: 500px;
        @include borderStyle;
    }

    .imagenPista {
        @include borderStyle;
    }
}

@media screen and (min-width: 1024px) {
    .imagenPista {
        width: 700px;
    }
}