@import "./variables";
@import "./fondo";
@import "./sobreNosotros";
@import "./nuestroEquipo";
@import "./galeria";
@import "./eventos";
@import "./resultados";
@import "./animaciones";
@import "./footer";

/*MAP*/
$titulos:(
    primerTitulo: #ff0000,
    segundoTitulo: #000000,
);

@each $titulo, $color in $titulos {
    .#{$titulo}{
        color: $color;
    }
}

.tercerTitulo {
    @extend .primerTitulo;
}